<?xml version="1.0" encoding="UTF-8" ?> 
<plugin xmlns="http://www.jamesii.org/plugin" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.jamesii.org/plugin http://www.jamesii.org/plugin/plugin.xsd">
  <id name="model_text_editor" version="1.0" /> 
  <factory classname="org.jamesii.gui.model.base.ModelTextEditorFactory">
  	<description>Text Editor for Model with Syntax Highlighting</description>
  </factory>  
</plugin>