<?xml version="1.0" encoding="UTF-8" ?> 
<plugin xmlns="http://www.jamesii.org/plugin" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.jamesii.org/plugin http://www.jamesii.org/plugin/plugin.xsd">
  <id name="SASF: Integration Test: Feature Extraction Plugin" version="1.0" /> 
  <factory classname="org.jamesii.asf.integrationtest.bogus.application.model.features.BogusModelFeatureExtractorFactory"></factory> 
</plugin>