<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://www.jamesii.org/plugin" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.jamesii.org/plugin http://www.jamesii.org/plugin/plugin.xsd">
	<id name="eventqueues using buckets" version="1.1" icon="BasicEventQueues.png" />

	<factory
		classname="org.jamesii.core.util.eventset.bucket.TwoListWithBucketsSimpleThresholdFactory">
		<parameter name="threshold" type="java.lang.Integer">
			<description>This two list queue consists of two parts. The first
				part is a list with a predefined number of buckets (slots); the
				second is a simple not sorted map - the size (slots) of the first
				part is determined by this parameter. The default size is 8.
			</description>
		</parameter>
	</factory>

	<factory
		classname="org.jamesii.core.util.eventset.bucket.BucketsThresholdEventQueueFactory">
		<parameter name="threshold" type="java.lang.Integer">
			<description>The buckets threshold queue consists of two parts - the
				size (slots) of the first part is determined by this parameter. The
				default size is 10.
			</description>
		</parameter>
	</factory>

	<factory classname="org.jamesii.core.util.eventset.bucket.SimpleBucketsEventQueueFactory"></factory>
	<factory classname="org.jamesii.core.util.eventset.bucket.SimpleReBucketsEventQueueFactory"></factory>
</plugin>