<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://www.jamesii.org/plugin" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.jamesii.org/plugin http://www.jamesii.org/plugin/plugin.xsd">
	<id name="SASF: Stochastic Portfolio Selector" version="1.0" />
	<factory classname="org.jamesii.asf.portfolios.stochsearch.StochSearchPortfolioSelFactory">
		<parameter name="sampleSize" type="java.lang.Integer">
			<description>The number of random samples to be tested.
			</description>
		</parameter>
		<parameter
			name="james.core.math.random.generators.plugintype.RandomGeneratorFactory"
			type="java.lang.String"
			plugintype="org.jamesii.core.math.random.generators.plugintype.RandomGeneratorFactory">
			<description>RNG to be used.</description>
		</parameter>
	</factory>
</plugin>